body{
  background-color:rgb(196, 228, 243)
}

.input-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#input{
  width: 200px;
  height: 25px;
  font-size: 19px;
  background-color:rgb(163, 202, 238);
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
  color: rgb(69, 69, 141);
}

#button{
  width: 100px;
  height: 25px;
  font-size: 15px;
  margin-top: 10px;
  background-color: rgb(128, 128, 252);
}

#russian {
  width: 300px;
  height: 300px;
  background-color:rgb(163, 202, 238);
  border: solid;
  border-color: rgb(175, 175, 177);
  margin-right: 2px;
  display: flex;
  flex-direction: column; /*flex чтобы блоки слов занимали ограниченное пространство*/
}

#english {
  width: 300px;
  height: 300px;
  background-color:rgb(163, 202, 238);
  border: solid;
  border-color: rgb(175, 175, 177);
  margin-left: 2px;
  display: flex;
  flex-direction: column;
}

.translit-block {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}

.word-style {
  color: rgb(69, 69, 141);
  font-size: 19px;
  font-family: 'Comfortaa', cursive;
}

.container {
  max-width: 650px;
  max-height: 650;
  margin: 0 auto;
  margin-top: 50px;
}

.rusWordStyle {
  width: 100px;
  height: 24px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow:ellipsis;
}

.engWordStyle {
  width: 100px;
  height: 24px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow:ellipsis;
}

.rusWordStyle:hover::before {
  content:attr(data-title);
  position: absolute; 
  left: 490px; 
  z-index: 1;
  background-color: rgb(105, 156, 214);
}

.engWordStyle:hover::before {
  content:attr(data-title);
  position: absolute; 
  left: 791px; 
  z-index: 1;
  background-color: rgb(105, 156, 214);
}

@media (max-width: 650px) {
  .container{
    max-width: 420px;
  }
}

@media (max-width: 442px) {
  .container{
    max-width: 320px;
  
  }
}

@media (max-width: 459px) {
  .container{
    max-width: none;
  }
  .translit-block{
    display: block;
    justify-content: center;
  }
  #russian{
    margin: 0 auto;
    margin-bottom: 2.5px;
    
  }
  #english{
    margin: 0 auto;
    margin-top: 2.5px;
    
  }
}

